@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:wght@400&display=swap");

@import "tailwindcss";
@theme {
  --font-display: "Orbitron", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* Floating Animation */

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
button {
  cursor: pointer;
}

.btn-disabled {
  cursor: not-allowed;
}

@theme {
  --animate-rotate-pause: rotate-pause 4s linear infinite;

  @keyframes rotate-pause {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
/* index.css */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262000;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 999px;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #ea580c;
  cursor: grabbing;
}
.custom-scrollbar::-webkit-scrollbar {
  height: 7px;
}
